@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
body {
  background-color: #D9D9D9;
  text-align: center;
  font-family: 'Irish Grover', cursive;

}
h1 {
  font-size: 55px;
  margin-top: 40px;
  color: #a39670;
  cursor: pointer;
}
h2 {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
#start-game {
  margin-top: 20px;
  background-color: #D3A6A6;
  font-family: 'Irish Grover', cursive;
  color: #FFF;
  padding: 12px 20px;
  border: 1px solid grey;
  cursor: pointer;
}
#start-game:hover {
  background-color: #dfb9b9;
}
canvas {
  width: 50%;
  height: 100;
  background-color: white;
}
#startScreen {
  border: 1px solid black;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bbf39803-9107-49a1-bb01-1debdb0221dd/d5fc1e0-52df421b-c94f-45fb-8468-016e1793751c.png/v1/fill/w_991,h_806,q_70,strp/free_floor_wood_texture_seamless_background_3d_max_by_chacalxxx_d5fc1e0-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAxNiIsInBhdGgiOiJcL2ZcL2JiZjM5ODAzLTkxMDctNDlhMS1iYjAxLTFkZWJkYjAyMjFkZFwvZDVmYzFlMC01MmRmNDIxYi1jOTRmLTQ1ZmItODQ2OC0wMTZlMTc5Mzc1MWMucG5nIiwid2lkdGgiOiI8PTM3MDYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.vySZtRpz13DNcfV6k5d-X6PJ0jrXP9igxKsWzLnsGqs');
  height: 330px;
  width: 595px;
  margin: auto;
  position: relative;
}
.h2p {
  font-size: 35px;
}
p {
  color: #FFF;
}